{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription - Entreprise</h1>
    <form method="post">
        <input type="text" name="company_name" placeholder="Nom de l'entreprise" required>
        <input type="email" name="email" placeholder="Email de l'entreprise" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <button type="submit">S'inscrire</button>
    </form>
{% endblock %}
