{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription - Développeur</h1>
    <form method="post">
        <input type="text" name="name" placeholder="Votre nom" required>
        <input type="email" name="email" placeholder="Votre email" required>
        <input type="password" name="password" placeholder="Votre mot de passe" required>
        <button type="submit">S'inscrire</button>
    </form>
{% endblock %}
